# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.log

# gradle
build
.gradle

# other
eclipse
run
run-data

ConfluenceOtherworld/src/generated


TerraEntity/run
MineTeam/run
EquipmentBenediction/run
TerraCurio/run
HeavenDestinyMoment/run
PhaseJourney/run
TerraMoment/run
TerraGuns/run
Confluence-Magic-Lib/run
TerraFurniture/run

TerraEntity/build
MineTeam/build
EquipmentBenediction/build
TerraCurio/build
HeavenDestinyMoment/build
PhaseJourney/build
TerraMoment/build
TerraGuns/build
Confluence-Magic-Lib/build
TerraFurniture/build

TerraEntity/src/generated
MineTeam/src/generated
EquipmentBenediction/src/generated
TerraCurio/src/generated
HeavenDestinyMoment/src/generated
PhaseJourney/src/generated
TerraMoment/src/generated
TerraGuns/src/generated
TerraFurniture/src/generated
EnemyBanner/src/generated
