[submodule "TerraCurio"]
	path = TerraCurio
	url = https://github.com/westernat/TerraCurio
	branch = forge-dev/1.20.1
[submodule "TerraFurniture"]
	path = TerraFurniture
	url = https://github.com/MakerTechno/TerraFurniture
	branch = forge-dev/1.20.1
[submodule "Confluence-Magic-Lib"]
	path = Confluence-Magic-Lib
	url = https://github.com/westernat/Confluence-Magic-Lib
	branch = forge-dev/1.20.1
[submodule "PortLib"]
	path = PortLib
	url = https://github.com/westernat/MesdagPortLib
	branch = forge-dev/1.20.1
