# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.log

# gradle
build
.gradle

# other
eclipse
run
run-data

ConfluenceOtherworld/src/generated
otherworldly


TerraEntity/run
MineTeam/run
EquipmentBenediction/run
TerraCurio/run
ParticleStorm/run
HeavenDestinyMoment/run
PhaseJourney/run
TerraMoment/run
ExtraWorldInvaded/run
TerraGuns/run

TerraEntity/build
MineTeam/build
EquipmentBenediction/build
TerraCurio/build
ParticleStorm/build
HeavenDestinyMoment/build
PhaseJourney/build
TerraMoment/build
ExtraWorldInvaded/build
TerraGuns/build

TerraEntity/src/generated
MineTeam/src/generated
EquipmentBenediction/src/generated
TerraCurio/src/generated
ParticleStorm/src/generated
HeavenDestinyMoment/src/generated
PhaseJourney/src/generated
TerraMoment/src/generated
ExtraWorldInvaded/src/generated
TerraGuns/src/generated
